target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Local database
data/
*.mv.db
*.trace.db

# Environment variables
.env
.env.*

# Logs
*.log

# IDE
.idea/
*.iml
.classpath
.project
.settings/
.vscode/
